$bg_main: hsl(233, 47%, 7%);
$bg_card: hsl(244, 38%, 16%);
$c_accent:  hsl(277, 64%, 61%);
$fc_primary:hsl(0, 0%, 100%);
$fc_p: hsla(0, 0%, 100%, 0.75);
$fc_stat_heading: hsla(0, 0%, 100%, 0.6);
$fs_base:15px;